# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. Flávio Martins

### Grupo 19
<dl>
    <dt>0.5 horas (33.3%)</dt>
    <dd>ist1102484 Diogo Ribeiro</dd>
    <dt>0.5 horas (33.3%)</dt>
    <dd>ist1102516 João Rodrigues</dd>
    <dt>0.5 horas (33.3%)</dt>
    <dd>ist1103744 Gustavo Henriques</dd>
<dl>

In [45]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [52]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

*  postgresql://db:***@postgres/db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [ ]:
%%sql
-- populate.sql

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [53]:
%%sql
-- (RI-1)
DROP TRIGGER IF EXISTS verifica_idade_empregado ON employee;

CREATE OR REPLACE FUNCTION verifica_idade_empregado_trigger() RETURNS TRIGGER AS $$
BEGIN
        IF EXTRACT(YEAR FROM NEW.bdate) > 2005 THEN
            RAISE EXCEPTION 'O empregado % tem menos de 18 anos de idade.',
                NEW.name;
    END IF;
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER verifica_idade_empregado AFTER INSERT OR UPDATE ON employee
    FOR EACH ROW EXECUTE FUNCTION verifica_idade_empregado_trigger();
    
INSERT INTO employee 
   VALUES (123456, 12345668, '2004-05-07', 'João');
    
SELECT * FROM employee

*  postgresql://db:***@postgres/db
Done.
Done.
Done.
1 rows affected.
1 rows affected.

[('123456', '12345668', datetime.date(2004, 5, 7), 'João')]

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [49]:
%%sql
-- (RI-2)
DROP TRIGGER IF EXISTS verifica_workplace ON workplace;

CREATE OR REPLACE FUNCTION verifica_workplace_trigger() RETURNS TRIGGER AS $$
BEGIN
        IF NEW.address IN ( SELECT address FROM office ) AND NEW.address IN ( SELECT address FROM warehouse ) THEN
           RAISE EXCEPTION 'Um "Workplace" não pode ser "Office" e "Warehouse" ao mesmo tempo.';
        ELSIF NEW.address NOT IN ( SELECT address FROM office ) AND NEW.address NOT IN ( SELECT address FROM warehouse ) THEN
            RAISE EXCEPTION 'Um "Workplace" tem de ser obrigatoriamente "Office" ou "Warehouse %".', NEW.address;
    END IF;
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER verifica_workplace AFTER INSERT OR UPDATE ON workplace
    FOR EACH ROW EXECUTE FUNCTION verifica_workplace_trigger();
    

INSERT INTO office  
    VALUES ('Avenida do Brasil');
    
INSERT INTO warehouse

*  postgresql://db:***@postgres/db
Done.
Done.
(psycopg2.errors.SyntaxError) syntax error at or near "BEFORE"
LINE 2: BEFORE INSERT OR UPDATE ON office
        ^

[SQL: CREATE CONSTRAINT TRIGGER colocar_office_workplace
BEFORE INSERT OR UPDATE ON office
FOR EACH ROW EXECUTE FUNCTION colocar_office_workplace_trigger();]
(Background on this error at: https://sqlalche.me/e/20/f405)

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [36]:
%%sql
-- (RI-3)

*  postgresql://db:***@postgres/db
4 rows affected.
6 rows affected.
(psycopg2.errors.ForeignKeyViolation) insert or update on table "contains" violates foreign key constraint "contains_order_no_fkey"
DETAIL:  Key (order_no)=(9459837) is not present in table "orders".

[SQL: INSERT INTO contains
    VALUES (9459837,192345687465,23), (9459939,483495685746,1), (9459838,192348574635,40),
    (9455837,584732347162,3), (9759839,574638234561,9), (9359837,945683745678,20);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [ ]:
%%sql
-- SELECT ...

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [ ]:
%%sql
-- SELECT ...

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [ ]:
%%sql
-- SELECT ...

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [ ]:
%%sql
-- CREATE VIEW ...

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

...

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [ ]:
%%sql
-- SELECT ...

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql
-- SELECT ...

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

...

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

...